/* About.css */
.about-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 36px;
    color: #333;
    font-weight: bold;
}

p {
    font-size: 18px;
    color: #666;
    margin-bottom: 10px;
}

a {
    color: #0080ff;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
